* {
    box-sizing: border-box;
}

section{
    border: 3px solid black;
    width: 400px;
    height: 200px;
    padding: 50px;
    border-radius: 20px;
    background-color: yellowgreen;
}

.div-1{
    font-size: 30px;
    background-color: blue;
    color: white;
    width: 300px;
    text-align: center;
}

.div-2{
    font-size: 30px;
    background-color: rgb(215, 109, 215);
    color: white;
    width: 300px;
    text-align: center;
}