.div-1{
    background: black;
    color: white;
    font-size: 30px;
}

.div-2{
    background: blue;
    color: white;
    font-size: 20px;
}

.div-3{
    background: brown;
    color: white;
    font-size: 10px;
}