*{
    box-sizing: border-box;
}

table {
    border: 1px solid black;
}

.tr-1 {
    border: 1px solid black;
    width: 100px;
    height: 50px;

    background-color: aqua;
}

.tr-2 {
    border: 1px solid black;
    width: 100px;
    height: 50px;

    background-color: burlywood;
}

.tr-3 {
    border: 1px solid black;
    width: 100px;
    height: 50px;

    background-color: gray;
}

.tr-4 {
    border: 1px solid black;
    width: 100px;
    height: 50px;

    background-color: cadetblue;
}

.tr-5 {
    border: 1px solid black;
    width: 100px;
    height: 50px;

    background-color: coral;
}