* {
    box-sizing: border-box;
}

.div-1{
    width: 400px;
    height: 400px;
    background-color: blue;
}

.div-2{
    width: 400px;
    height: 200px;
    background-color: black;
}

.div-3{
    width: 200px;
    height: 400px;
    background-color: black;
}

.div-4{
    width: 200px;
    height: 200px;
    background-color: blue;
}