*{
    margin: 0;
}


.div-1 {    
    width: 100px;
    height: 100px;
    background-color: black;

    position: absolute;
    top: 50px;
    left: 100px;
}

.div-2{
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top: 50px;
    left: 200px;
}